{% extends 'base.html' %}

{% block content %}

<div class="menu">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab"  href="#home"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
        <li><a data-toggle="tab"  href="#pcaps"><span class="glyphicon glyphicon-signal"></span> Capturas</a></li>
        <li><a data-toggle="tab"  href="#perfiles"><span class="glyphicon glyphicon-user"></span> Perfiles</a></li>
    </ul>


    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <!-- Upload form. Note enctype attribute! -->
            <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>

                {{ form.docfile.label_tag }} {{ form.docfile.help_text }} {{ form.docfile.errors }} {{ form.docfile }}  <input type="submit" value="Upload"/>

            </form>
        </div>
        <div id="pcaps" class="tab-pane fade">

            <h3>Capturas</h3>
             <table id="tabla-pcaps">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th></th>
                  </tr>
                 <thead>
            </table>
        </div>
        <div id="perfiles" class="tab-pane fade">
             <h3>Perfiles</h3>
             <table id="tabla-perfiles">
                <thead>
                  <tr>
                    <th>Mac</th>
                    <th>Nombre</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th></th>
                  </tr>
                 <thead>
            </table>
        </div>

    </div>
</div>


<script>
    $(document).ready(function(){



        initTablaPcaps();
        initTablaPerfiles();
        loadPcaps();
        loadPerfiles();

        function initTablaPcaps(){
            $("#tabla-pcaps").DataTable({"bPaginate": false,"info": false,});
        }

        function loadPcaps(){
               $.get("{% url 'pcaps' %}", function(data, status){

                        //recorremos el array
                        $.each(data, function (i, v) {

                            //Parseamos el JSON
                            var nom = v.nom;
                            var fecha = v.fecha;
                            var user = v.user;
                        $('#tabla-pcaps').DataTable().row.add([nom, user, fecha, '']).draw();


                });

                });
        }

        function initTablaPerfiles(){
            $("#tabla-perfiles").DataTable({"bPaginate": false,"info": false,});
        }

        function loadPerfiles(){
               $.get("{% url 'profiles' %}", function(data, status){

                        //recorremos el array
                        $.each(data, function (i, v) {

                            //Parseamos el JSON
                            var mac = v.mac;
                            var nom = v.nom;
                            var fecha = v.fecha;
                            var user = v.user;
                        $('#tabla-perfiles').DataTable().row.add([mac, nom, user, fecha, '']).draw();


                });

                });
        }


});
</script>

{% endblock content %}



