{% extends 'base.html' %}

{% block content %}

<div class="menu">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab"  href="#home"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
        <li><a data-toggle="tab"  href="#pcaps"><span class="glyphicon glyphicon-signal"></span> Capturas</a></li>
        <li><a data-toggle="tab"  href="#perfiles"><span class="glyphicon glyphicon-user"></span> Perfiles</a></li>
    </ul>


    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">

            <!-- Upload form. Note enctype attribute! -->
            <form id="form-uploader" action="{% url 'update' %}" method="post" enctype="multipart/form-data">

                <h1>Sube un pcap y disfruta.</h1>
                <br>
                {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>

                {{ form.docfile.label_tag }}  {{ form.docfile.errors }}  {{ form.docfile }}  <input type="submit" value="Upload"/>
                <p> {{ form.docfile.help_text }} </p>

            </form>
        </div>
        <div id="pcaps" class="tab-pane fade">

            <h3>Capturas</h3>
            <table id="tabla-pcaps" class="cell-border">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th></th>
                    </tr>
                <thead>
            </table>
        </div>
        <div id="perfiles" class="tab-pane fade">
            <h3>Perfiles</h3>
            <table id="tabla-perfiles" class="cell-border">
                <thead>
                    <tr>
                        <th>Mac</th>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th></th>
                    </tr>
                <thead>
            </table>
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {


        //showInformation("Pruebaaas")
        var msg = '{{ msg }}';
        if(msg !== ''){
            showInformation(msg);
        }

        initTablaPcaps();
        initTablaPerfiles();
        loadPcaps();
        loadPerfiles();

        function initTablaPcaps() {
            $("#tabla-pcaps").DataTable({"bPaginate": false, "info": false });
        }

        function loadPcaps() {
            $.get("{% url 'pcaps' %}", function (data, status) {

                //recorremos el array
                $.each(data, function (i, v) {

                    //Parseamos el JSON
                    var nom = v.nom;
                    var fecha = v.fecha;
                    var user = v.user;
                    var btn  = "<a class='btn btn-info' href='pcap?pcap="+ v.id +"'><span class='glyphicon glyphicon-eye-open'></span></a>";
                    $('#tabla-pcaps').DataTable().row.add([nom, user, fecha, btn]).draw();


                });

            });
        }

        function initTablaPerfiles() {
            $("#tabla-perfiles").DataTable({"bPaginate": false, "info": false });
        }

        function loadPerfiles() {
            $.get("{% url 'profiles' %}", function (data, status) {

                //recorremos el array
                $.each(data, function (i, v) {
                    //Parseamos el JSON
                    var mac = v.mac;
                    var nom = v.nom;
                    var fecha = v.fecha;
                    var user = v.user;
                    var btn  = "<a class='btn btn-info' href='perfil?id="+ v.mac +"'><span class='glyphicon glyphicon-eye-open'></span></a>";
                    $('#tabla-perfiles').DataTable().row.add([mac, nom, user, fecha, btn]).draw();


                });

            });
        }


    });
</script>

{% endblock content %}