{% extends 'base.html' %}

{% block content %}

<div class="div-detalles">
    <p> <b>Pcap :</b> <span id="name-pcap"></span> </p>
    <p> <b>Usuario :</b> <span id="user-pcap"></span> </p>
    <p> <b>Fecha :</b> <span id="date-pcap"></span> </p>
    <div class="row text-center">
        <a class="btn btn-warning" href="{{ pcap.docfile.url }}">Descargar PCAP</a>
    </div>
</div>

<div class="container-fluid">
    <h3>Perfiles</h3>

            <table id="tabla-perfiles" class="cell-border">
                <thead>
                    <tr>
                        <th>Mac</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th></th>
                    </tr>
                <thead>
            </table>
</div>

<script>
    $(document).ready(function () {

        var pcap_id= '{{ pcap.id }}';
        loadDetails();
        initTablaPerfiles();
        loadPerfiles();

        function initTablaPerfiles() {
            $("#tabla-perfiles").DataTable({"bPaginate": false, "info": false });
        }

        function loadPerfiles() {

           $.get("{% url 'profiles' %}",{pcap: pcap_id}).done(function (data) {

                //recorremos el array
                $.each(data, function (i, v) {

                    //Parseamos el JSON
                    var mac = v.mac;
                    var fecha = v.fecha;
                    var user = v.user;
                    var btn  = "<a class='btn btn-info' href='perfil?id="+ v.mac +"'><span class='glyphicon glyphicon-eye-open'></span></a>";
                    $('#tabla-perfiles').DataTable().row.add([mac, user, fecha, btn]).draw();


                });
           });
        }


        function loadDetails() {

           $.get("{% url 'detailsPcap' %}",{pcap: pcap_id}).done(function (data) {

                console.log(data)
                $("#name-pcap").text(data.nom);
                $("#user-pcap").text(data.user);
                $("#date-pcap").text(data.fecha);

           });
        }


    });
</script>

{% endblock content %}