{% extends 'base.html' %}

{% block content %}

<div class="div-detalles">
    <p> <b>Mac :</b> {{ perfil.mac }}  </p>
    <p> <b>Usuario :</b> <span id="user-perfil"></span> </p>
    <p> <b>Fecha :</b> <span id="date-perfil"></span> </p>
    <p> <b>Fabricante :</b> <span id="vendor-perfil"></span> </p>
    <p> <b>Sistema Operativo :</b> <span id="os-perfil"></span> </p>

        <div class="row text-center">
        <a class="btn btn-warning" href="{% url 'timeline' %}">Ver Timeline</a>
    </div>
</div>


<div class="div-accordions">
    <div class="panel-group" id="accordion">
    <div class="panel panel-info">
            <h4 class="panel-heading panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-pcaps">Pcaps</a>
            </h4>
        <div id="accordion-pcaps" class="panel-collapse collapse">
            <div class="panel-body">
            <table id="tabla-pcaps" class="cell-border">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th></th>
                    </tr>
                <thead>
            </table>
            </div>
        </div>
    </div>
    <div class="panel panel-info ">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#accordion-agents">User Agents</a>
            </h4>
        </div>
        <div id="accordion-agents" class="panel-collapse collapse">
        <ul id="list-agents" class="list-group">

        </ul>
    </div>

</div>

</div>

<script>
    $(document).ready(function () {

        var perfil_id= '{{ perfil.mac }}';
        //loadDetails();
        initTablaPcaps();
        loadPcaps();
        loadDetails();
        loaduserAgents();

        function initTablaPcaps() {
            $("#tabla-pcaps").DataTable({"bPaginate": false, "info": false, "searching": false });
        }

        function loadPcaps() {

            $.get("{% url 'pcaps' %}",{perfil: perfil_id}).done(function (data) {

                //recorremos el array
                $.each(data, function (i, v) {

                    //Parseamos el JSON
                    var nom = v.nom;
                    var fecha = v.fecha;
                    var user = v.user;
                    var btn  = "<a class='btn btn-info' href='/pcap?pcap="+ v.id +"'><span class='glyphicon glyphicon-eye-open'></span></a>";
                    $('#tabla-pcaps').DataTable().row.add([nom, user, fecha, btn]).draw();


                });

            });
        }

        function loadDetails() {

           $.get("{% url 'perfilDetails' %}", {perfil: perfil_id}).done(function (data) {

                $("#user-perfil").text(data.user);
                $("#date-perfil").text(data.fecha);
                $("#vendor-perfil").text(data.vendor);
                $("#os-perfil").text(data.os);

           });
        }


        function loaduserAgents() {

           $.get("{% url 'agents' %}", {perfil: perfil_id}).done(function (data) {

                 //recorremos el array
                $.each(data, function (i, v) {
                    $("#list-agents").append("<li class='list-group-item'>"+ v.user_agent +"</li>");
                });



           });
        }


    });
</script>

{% endblock content %}