{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="page-header">
        <h1>Timeline de {{ perfil.mac }} </h1>
    </div>
    <ul id="timeline" class="timeline">



    </ul>
</div>

<script>
    $(document).ready(function () {

        var perfil_id= '{{ perfil.mac }}';
        loadLinks();

        function loadLinks(){

            $.get("{% url 'links' %}",{perfil: perfil_id}).done(function (data) {

                //recorremos el array
                $.each(data, function (i, v) {

                        console.log(v)

                        //Parseamos el JSON
                        var ipSrc = v.ipSrc;
                        var ipDst = v.ipDst;
                        var perfilSrc = v.perfilSrc;
                        var perfilDst = v.perfilDst;
                        var fecha = v.time;
                        var host = v.host;

                        if(perfilSrc === perfil_id){
                            $('#timeline').append(getCardSend(ipSrc, ipDst, host, fecha));
                        }if(perfilDst === perfil_id){
                            $('#timeline').append(getCardReceive(ipSrc, ipDst, host, fecha));

                        }

                });

            });
        }

        function getCardSend(ipSrc, ipDst, host, fecha){

            var x = "<li>"+
                        "<div class='timeline-badge warning'></div>"+
                        "<div class='timeline-panel'>"+
                            "<div class='timeline-heading'>"+
                                "<h4 class='timeline-title'>Enviado desde " + ipSrc +" a " + ipDst +"</h4>"+
                                "<p><small class='text-muted'><i class='glyphicon glyphicon-time'></i> "+fecha+"</small></p>"+
                            "</div>"+
                            "<div class='timeline-body'>"+
                                "<p> "+ host +" </p>"+
                            "</div>"+
                        "</div>"+
                    "</li>";
            return x;

        }

        function getCardReceive(ipSrc, ipDst, host, fecha){

            var x = "<li class='timeline-inverted'>"+
                        "<div class='timeline-badge info'></div>"+
                        "<div class='timeline-panel'>"+
                            "<div class='timeline-heading'>"+
                                "<h4 class='timeline-title'>Recibido en " + ipSrc +" desde " + ipDst +"</h4>"+
                                "<p><small class='text-muted'><i class='glyphicon glyphicon-time'></i> "+fecha+"</small></p>"+
                            "</div>"+
                            "<div class='timeline-body'>"+
                                "<p> "+ host +" </p>"+
                            "</div>"+
                        "</div>"+
                    "</li>";

            return x;

        }



    });
</script>

{% endblock content %}
